[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
spotipy = "*"
html5lib = "*"
requests = "*"
pandas = "*"
youtube_dl = "*"
pathlib = "*"
requests_html = "*"
beautifulsoup4 = "*"

[dev-packages]

[requires]
python_version = "3.11"
